<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title> Reflect email sended </title>
</head>

<body class="bg-gray-300">
  <div class="flex items-start justify-center h-screen">
    <ul>
      <li class = "flex justify-center">
        <img src="../images/login logo.svg" />
      </li>
      <li>
        <p class = " py-8 text-center font-bold text-2xl">An check link has been sent to your email.<br>Please activate your account through the link.</p>
      </li>
    </ul>
  </div>
  

</body>

</html>