<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title> Reflect home </title>

</head>
<body class="bg-gray-300">
    <div class="border-b border-gray-300 py-4 px-40">
        <div class="flex justify-between">
            <nav class="bg-gray-300">
                <ul class="flex justify-self-start">
                    <li class="px-4"><img src="../images/Reflect-logo 1.svg" width="140" /></li>
                    <li class="px-4 py-2"><a href="#" class="text-gray-600 hover:text-gray-800">Home</a></li>
                    <li class="px-4 py-2"><a href="#" class="text-gray-600 hover:text-gray-800">About</a></li>
                </ul>
            </nav>
            <div class="flex items-center">
                <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded-l">
                  Sign Up
                </button>
                <button class="bg-black	 text-white font-bold py-2 px-4 rounded-r ml-2">
                  Log In
                </button>
              </div>



        </div>
    </div>
</body>

</html>