<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{../static/sidebar.html}"
>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flowbite.css">
  <script src="../js/main.js"></script>
  <script src="../js/flowbite.js"></script>
  <script type="text/javascript">
    
  </script>
  <title> Reflect</title>

</head>

<body onload="" class="main-color flex w-full" layout:fragment="content">

  <div id="main_content" class="flex-1 sm:ml-64 h-screen">
     <div id="content_header" class="flex ">
			
		</div>
    <div id = "action_content" class = "mt-10 ml-6">
     
    </div>

  </div>
</body>

</html>