.main-color {
    background-color: #202020 !important;

}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.border_top{
    border-top: 2px solid ;
    border-color:#9E9E9E;
}

#content_header {
    /* padding-left: ; */
    padding-top : 16px;
}

#content_body{
    padding-top : 40px;
    padding-left: 16px;
}

#body_top_right{
    padding-right: 130px;
    
}

#table-search{
    width: 384px;
    margin-right: 32px;
}

#add-button{
    color: rgb(12, 157, 7);
}

#add-button:hover{
    color:rgb(9, 99, 6);
}

#body_table {
    margin:16px;
}

#content_table{
    margin-top: 16px;
}

.table-sortable th {
	cursor:pointer;
}

.table-sortable .th-sort-asc::after{
	content: "\25b4";
}
.table-sortable .th-sort-desc::after{
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after
{
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc
{
	background-color: #003700;
}

.registration-button{
	background-color: rgb(28 25 23) !important;
	float: right;
}

.noborder {
	border:none;
}

#takeActionButton{
	background-color: rgb(101 163 13);
}

#top_projects_count{
	margin-top : 40px;
}

#body_top_left{
	margin-left : 16px;
}

#action_content{
	width : 80%;
}
#action_footer{
	margin-top : auto;
}
#main_content{
	grid-template-rows : 50px;
	/* setting first row's height */
}



*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */


