<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{../static/sidebar.html}"
>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flowbite.css">
  <script src="../js/main.js"></script>
  <script src="../js/flowbite.js"></script>
  <script type="text/javascript">
    function init() {
      performProperGrammer();
      addSortToTable();
      addSearchToTable();
    }
  </script>
  <title> Reflect</title>

</head>

<body onload="init()" class="main-color flex w-full" layout:fragment="content">

  <div id="main_content" class="flex-1 sm:ml-64 h-screen">
    <div id="content_header" class="flex ">
      <div class="p-2">
        <p class="dark:text-white font-bold text-sm"><span class="text-gray-500">Activities</span></p>

      </div>

    </div>
    <div id="content_body">
      <div id="body_top" class="">
        <div id="top_projects_count" class="dark:text-white font-bold  text-2xl flex justify-between ">
          <div id="body_top_left">
            <p class="activitiesBrief">
              <span th:text="${#lists.size(activities)}" id="activitiesCount"></span>
              <span id="activitiesText"></span>
            </p>
          </div>
          <div id="body_top_searchBar" class="relative">
            <form id="searchBarForm">
              <input type="text" id = "searchBar" placeholder="Search" class="w-full py-2 pr-8 pl-3 border border-gray-600 rounded-lg focus:outline-none focus:border-blue-500
			  	bg-gray-700 text-white	">
              <button type="submit" class="hidden" id="submitButton">Submit</button>
            </form>
          </div>
          <div id="body_top_right" class="pr-10 flex justify-start">
            <div class="">
              <button id="add-button" class="main-color font-bold " data-modal-target="newActivityModal"
                data-modal-toggle="newActivityModal">
                Add
              </button>

            </div>
          </div>
        </div>
      </div>


      <div id="body_table" class="border_top">
        <table id="content_table" class="table table-sortable w-full text-lg pt-4">
          <thead class="text-gray-300">
            <tr class="bg-green-900">
              <th class="text-align-left px-6 py-3">Name</th>
              <th class="text-align-left px-6 py-3">Description</th>
              <th class="text-align-left px-6 py-3">Status</th>
              <th class="text-align-left px-6 py-3">create date</th>
              <th class="text-align-right px-6 py-3"></th>
            </tr>
          </thead>
          <tbody id = "content_table_body" class="text-white">
            <tr class="hover:bg-gray-700" th:each="activity : ${activities}">

              <td class="px-6 py-4" th:text="${activity.name}" />
              <td class="px-6 py-4" th:text="${activity.description}" />
              <td class="px-6 py-4" th:text="${activity.status}" />
              <td class="px-6 py-4" th:text="${activity.createdAt}" />
              <!-- Add update button/link -->
              <td class="px-6 py-4">
                <button th:id="'dropdownMenuIconButton'+ ${activity.name}"
                  th:data-dropdown-toggle="'dropdownDots'+ ${activity.name}"
                  class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-200 rounded-lg hover:bg-gray-500 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                  type="button">
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                    </path>
                  </svg>
                </button>
                <div th:id="'dropdownDots'+ ${activity.name}"
                  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                    <li>
                    <form th:action="@{/activities/{activityId}/delete(activityId=${activity.id})}" method="get">
					  <button type="submit" class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
					    Delete
					  </button>
					</form>

                    </li>
                    <li>
                      <button id="add-button"
                        class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white "
                        th:data-modal-target="'updateActivityModal'+${activity.name}"
                        th:data-modal-toggle="'updateActivityModal'+${activity.name}">
                        update
                      </button>

                    </li>

                  </ul>

                </div>
              </td>
              <td>

                <!-- update activity form -->

                <!-- Main modal -->
                <div data-modal-backdrop="static" th:id="'updateActivityModal'+${activity.name}" tabindex="-1"
                  aria-hidden="true"
                  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                  <div class="relative w-full h-full max-w-md md:h-auto">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                      <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        th:data-modal-hide="'updateActivityModal'+${activity.name}">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                      </button>
                      <div class="px-6 py-6 lg:px-8 bg-black">
                        <h3 class="mb-4 text-xl font-medium text-white">Update activity</h3>
                        <form action="#" th:action="@{/activities/update}" th:object="${activity}" method="POST">
                          <input type="hidden" th:id="id" th:name="id" th:value="${activity.id}">

                          <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-300">
                              Name
                            </label>
                            <input type="text" th:value="${activity.name}" th:id="name" th:name="name"
                              class="bg-gray-50 border border-gray-300 mb-2  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                              placeholder="activity's name" required>
                          </div>

                          <div class="">
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-300">
                              Description
                            </label>
                            <input type="text" th:id="description" th:name="description"
                              placeholder="describe this activity ..." th:value="${activity.description}"
                              class="block mb-2 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                          </div>
                          <div>
                            <label class="relative inline-flex items-center mb-4 mt-4 cursor-pointer">
                              <input type="checkbox" th:id="status" th:name="status" value="Active"
                                th:checked="${activity.status == 'Active'}" class="sr-only peer">
                              <div
                                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                              </div>
                              <span class="ml-3 text-sm font-medium text-gray-300">
                                isActive
                              </span>
                            </label>
                          </div>

                          <button type="submit"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Update
                          </button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <!-- update Activity form -->

            </tr>

          </tbody>
        </table>
      </div>
      <!-- new activity form -->

      <!-- Main modal -->
      <div data-modal-backdrop="static" id="newActivityModal" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-md md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="newActivityModal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8 bg-black">
              <h3 class="mb-4 text-xl font-medium text-white">New activity</h3>
              <form action="#" th:action="@{/activities/save}" th:object="${newActivity}" method="POST">
                <div>
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-300">
                    Name
                  </label>
                  <input type="text" th:field="*{name}"
                    class="bg-gray-50 border border-gray-300 mb-2  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="activity's name " required>
                </div>

                <div class="">
                  <label for="description" class="block mb-2 text-sm font-medium text-gray-300">
                    Description
                  </label>
                  <input type="text" th:field="*{description}" placeholder="describe this activity ..."
                    class="block mb-2 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                  <label class="relative inline-flex items-center mb-4 mt-4 cursor-pointer">
                    <input type="checkbox" th:field="*{status}" value="Active" class="sr-only peer">
                    <div
                      class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                    </div>
                    <span class="ml-3 text-sm font-medium text-gray-300">
                      isActive
                    </span>
                  </label>
                </div>

                <button type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Create
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- new Activity form -->
    </div>

  </div>
</body>

</html>